.loginWrap {
  padding: 50px 0;

  article {  
    padding: 59px;
    border-bottom: 1px solid #cccccc;

    .loginBox {
      border: 1px solid #cccccc;
      display: flex;
      flex-direction: column;
      align-items: center;    
      width: 420px;
      margin: auto;
      padding: 60px 70px;
      
      .headName {
        margin: 0 0 30px;
        font-size: 32px;
      }

      .id {      
        border-bottom: 1px solid #cccccc;
        width: 278px;
        height: 47px;

        &:focus {
          border-bottom: 3px solid #fec300;
          border-radius: 3px;
        }
      }

      .pw {      
        border-bottom: 1px solid #cccccc;
        width: 278px;
        height: 47px;

        &:focus {
          border-bottom: 3px solid #fec300;
          border-radius: 3px;
        }
      }

      .keepLogin {     
        display: flex;
        align-items: center;
        width: 278px;
        height: 20px;
        margin-top: 20px;
        font-size: 14px;
      }

      .loginBtn {
        width: 278px;
        height: 50px;
        margin-top: 40px;
        border-radius: 5px;
        background-color: #fff6a9;
        font-size: 15px;
        font-weight: bold;
      }

      .changeBtnColor {
        background-color: #fee500;

        &:hover {
          background-color: #fec300;
        }
      }

      .orBar {      
        display: flex;
        padding: 15px;

        .leftBar {
          border: 1px solid #cccccc;
          width: 119px;  
          margin: 8px 0;
        }

        .orBox {
          display: flex;
          align-items: center;
          justify-content: center;        
          width: 40px;
          font-size: 12px;
          color: #cccccc;
        }

        .rightBar {
          border: 1px solid#cccccc;
          width: 119px;
          margin: 8px 0;  
        }
      }

      .qrBox {
        position: relative;

        .qrBtn {
          width: 278px;
          height: 50px;      
          border-radius: 5px;
          background-color: #eeeeee;
          font-size: 15px;
          font-weight: bold;
          
          &:hover {
            background-color: #cccccc;
          }
        }
        
        .qrCode {
          position: absolute;
          top: 17px;
          left: 73px;
        }
      }

      
      .loginOption {      
        display: flex;
        justify-content: space-between;
        width: 278px;
        margin-top: 30px;
        font-size: 12px;
        font-weight: bold;        

        .signUp {
          cursor: pointer;
        }

        .loginOptionRight {
          display: flex;

          .findBar {
            border-left: 1px solid black;
            margin: 0 10px;
          }
        }
      }
    }
  }  
}