.filter {
  display: flex;
  justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid rgb(242, 242, 242);
  text-align: center;
  padding: 15px;

  select {
    font-size: 16px;
  }
}
