.feedBox {
  max-width: 640px;
  margin: 0px auto;
  padding: 20px 20px 30px;

  .feedBoxHeader {
    display: flex;

    .feedBoxHeaderImg {
      width: 40px;
      height: 40px;
      margin-right: 10px;

      .headerImg {
        width: 100%;
      }
    }

    .nameAndTime {
      display: flex;
      flex-direction: column;

      .characterName {
        margin-top: 3px;
        font-weight: bold;
      }

      .time {
        margin-top: 3px;
        font-size: 13px;
        color: #9a9a9e;
      }
    }
  }

  .feedBoxImg {
    margin-top: 15px;

    .mainImg {
      width: 100%;
    }
  }

  .feedBoxIcon {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 13px;

    .heartIcon {
      margin-left: -5px;
    }

    .heartIconColorChange {
      margin-left: -5px;
    }

    .chatIcon {
      margin-left: 5px;
    }

    .replyIcon {
      margin-left: auto;
    }
  }

  .feedLikeCount {
    margin-top: 13px;

    .feedLikeCountUpDown {
      font-weight: bold;
    }
  }

  .feedContentTitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .feedContent {
    margin-top: 13px;
  }

  .reply {
    margin-top: 13px;
  }

  .replyList {
    display: flex;
    margin-top: 13px;

    .userName {
      font-weight: bold;
      font-size: 14px;
      color: #000000;
    }

    .content {
      margin-left: 5px;
      font-size: 14px;
      color: #666666;
    }
  }

  .feedReplyBox {
    margin-top: 13px;

    .feedReplyBoxBtn {
      width: 100%;
      margin-left: -6px;
    }

    .feedReplyCount {
      text-align: start;
      color: #9a9a9e;
    }
    .reply {
      text-align: start;
    }
    .replyInput {
      background-color: #f0f1f4;
      margin-top: 13px;
      height: 60px;
      text-align: start;
      border-radius: 0px 6.4vw 6.4vw;

      textarea {
        width: 102%;
        padding: 20px 10px;
        height: 60px;
        font-size: 16px;
        resize: none;
        background-color: #f0f1f4;
        border-radius: 0px 6.4vw 6.4vw;
      }
    }
  }

  .productList {
    margin-top: 20px;
    border: 1px solid #e3e5e8;
    border-radius: 10px;

    .product {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      .productImgInfo {
        display: flex;
        align-items: center;

        .productImg {
          width: 60px;
        }

        .productInfo {
          margin-left: 10px;
        }
      }

      .shoppingBtn {
        margin-left: auto;
      }
    }
  }
}
