$border-style: solid 1px rgb(239, 240, 244);

.characterBox {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px 0px 15px 21px;

  .character {
    padding: 10px 0;
    img {
      height: 71px;
      border-radius: 50px;
      border: $border-style;
    }

    p {
      color: #777777;
      font-size: 12px;
    }
  }
}
