.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);

  .modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 310px;
    border: 1px solid none;
    background-color: white;

    .xMark {
      position: absolute;
      margin-top: 10px;
      margin-left: 250px;
    }
    .img {
      width: 128px;
      height: 128px;
      margin: 40px auto 8px;
    }

    .title {
      font-weight: bold;
    }

    .content {
      text-align: center;
      margin-top: 15px;
    }

    .loginBtnBox {
      position: relative;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;

      .chatIcon {
        position: absolute;
        left: 50px;
        bottom: 12px;
      }

      .loginBtn {
        border-radius: 30px;
<<<<<<< HEAD
        color: #3c1e1e;
        font-weight: bold;
        background-color: #ffeb00;
=======
        color: #3C1E1E;
        font-weight: bold;
        background-color: #FFEB00;
>>>>>>> 9eee4b780bdd9a950f39bcdf2f37af7a5429340a
        padding: 15px 80px;
        font-size: 16px;
      }
    }
  }
}
