.wrapMain {
  position: relative;
  .mainNav {
    position: fixed;
    z-index: 10;
    width: 640px;
    background-color: white;

    .navBarFirst {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px auto;
      padding: 10px 10px;

      .title {
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 16px;
        color: #f7f7f7;
        background-color: #1e1e1e;
      }
    }

    .navBarSecond {
      display: flex;
      width: 100%;
      max-width: 640px;
      margin: 0px auto;
      margin-top: -5px;
      height: 50px;
      border-bottom: 1px solid #e3e5e8;
      padding: 0px 10px;

      .width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        font-size: 16px;
      }
    }
  }
}
