.wrapMain {
  position: relative;

  .mainNav {
    position: fixed;
    z-index: 10;
    width: 640px;
    background-color: white;

    .navBarFirst {
      display: flex;
      //justify-content: space-around;

      .name {
        margin-left: 40px;
        border: 10px solid black;
        border-radius: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #f7f7f7;
        background-color: #1e1e1e;
      }
    }

    .navBarSecond {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 640px;
      margin-top: 20px;
      height: 40px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .width {
        display: flex;
        width: 125%;
        font-size: 16px;
      }

      .truecolor {
        background-color: red;
      }
    }
  }
}
