.wrapMain {
  // display: flex , justfi-content center 추가
  display: flex;
  justify-content: center;
  position: relative;

  .mainNav {
    position: fixed;
    z-index: 10;
    width: 640px;

    .navBarFirst {
      display: flex;

      .name {
        margin-left: 40px;
        border: 10px solid black;
        border-radius: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #f7f7f7;
        background-color: #1e1e1e;
      }
    }

    .navBarSecond {
      display: flex;
      justify-content: space-around;
      max-width: 640px;
      margin-top: 15px;
      background-color: white;
      width: 100%;
      padding: 0px 10px;
      height: 30px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        font-size: 16px;
      }

      .truecolor {
        background-color: red;
      }
    }
  }
}
