body {
  display: flex;
  justify-content: center;

  .search {
    z-index: 1000001;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    max-width: 640px;
    height: 100%;
    background-color: white;
  }
}
