.option {
  padding: 100px;
  height: 220px;
  background-image: url(https://t1.daumcdn.net/friends/prod/category/category_apparel_M_201113.jpg);

  select {
    background-color: #aabdf7;
    color: white;
    font-size: 25px;
    font-weight: bold;

    option {
      font-size: 20px;
    }
  }

  img {
    height: 150px;
    width: auto;
  }
}
