.productsWrap {
  display: flex;
  justify-content: center;

  article {
    display: flex;
    flex-direction: column;
    margin: 0 auto 62px;
    width: 640px;

    header {
      position: relative;
      margin-bottom: 50px;

      img {
        margin: -6px 0;
        width: 640px;
      }

      .headTitle {
        margin: 20px 0 0 20px;
        font-size: 30px;
        font-weight: bold;
      }

      .modalBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 20px;
        bottom: 60px;

        .snsBtn {
          display: flex;
          flex-direction: column;

          .snsIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            width: 46px;
            height: 46px;
            border: 2px solid #eeeeee;
            border-radius: 50%;
            font-size: 20px;
          }
        }

        .headShareBtn {
          margin-top: 10px;
          width: 46px;
          height: 46px;
          border: 2px solid #eeeeee;
          border-radius: 50%;

          .shareIcon {
            font-size: 20px;
          }
        }
      }
      .headPrice {
        margin: 20px 0 0 20px;
        font-size: 18px;
      }

      .productGrade {
        display: flex;
        margin: 20px 0 0 20px;

        .star {
          display: flex;
          align-items: center;

          img {
            margin-right: 5px;
            width: 15px;
          }
        }
      }
    }

    .productInfor {
      margin: auto;
      padding-bottom: 30px;
      width: 600px;
    }

    .productDetailBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #dddddd;

      .productDetail {
        .detailBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: auto;
          width: 600px;
          height: 80px;
          font-size: 18px;
          font-weight: bold;

          .downArrowIcon {
            font-size: 20px;
          }
        }
      }

      .detailInfo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }

    .productDeliveryBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #dddddd;

      .productDelivery {
        .deliveryBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: auto;
          width: 600px;
          height: 80px;
          font-size: 18px;
          font-weight: bold;

          .downArrowIcon {
            font-size: 20px;
          }
        }
      }

      .deliveryInfo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }

    .productConsult {
      height: 80px;
      border-bottom: 1px solid #dddddd;
      font-size: 18px;
      font-weight: bold;

      .consultBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 600px;
        height: 80px;

        .consultBtn {
          display: flex;
          align-items: center;
          color: #bbbbbb;
          font-size: 17px;
        }
      }
    }

    .productReview {
      padding: 35px 20px 40px;
      border-bottom: 1px solid #dddddd;
      border-top: 10px solid #eeeeee;

      .reviewCount {
        display: flex;
        justify-content: space-between;

        .countTitle {
          font-size: 24px;
          font-weight: bold;
        }

        .productGrade {
          display: flex;
          align-items: center;

          .star {
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
              width: 15px;
            }
          }
        }
      }

      .reviewBtn {
        margin: 20px auto 40px;
        width: 600px;
        height: 50px;
        border-radius: 5px;
        background-color: #3c404b;
        color: white;
        font-size: 15px;
        font-weight: bold;

        .pencilIcon {
          vertical-align: middle;
          color: white;
          font-size: 20px;
        }
      }

      .productSort {
        .sortLike {
          margin: 0 10px 20px 0;
          width: 64px;
          height: 30px;
          border-radius: 25px;
          background-color: #8d92a1;
          color: white;
          font-weight: 13px;
        }

        .sortNew {
          margin: 0 10px 20px 0;
          width: 64px;
          height: 30px;
          border: 1px solid #8d92a1;
          border-radius: 25px;
          background-color: white;
          color: #8d92a1;
          font-weight: 13px;
        }
      }

      .productComment {
        border-top: 1px solid #dddddd;
        padding: 30px 0;

        .commentUser {
          font-size: 17px;
          font-weight: bold;
        }

        .productUserGrade {
          display: flex;
          margin-top: 10px;

          .star {
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
              width: 13px;
            }
          }

          .commentDate {
            margin-left: 5px;
            font-size: 13px;
          }
        }

        .commentValue {
          margin-top: 15px;
        }

        .commentLike {
          display: flex;
          align-items: center;
          margin-top: 20px;

          button {
            display: flex;
            align-items: center;
            padding: 0;
            width: 135px;
            height: 25px;
            font-size: 14px;
            color: #cccccc;

            .likeBtnIcon {
              display: flex;
              align-items: center;
              margin-right: 5px;
              font-size: 25px;
              color: #cccccc;
            }

            &:hover {
              background-color: #eeeeee;
            }
          }
        }

        .changeBtnColor {
          display: flex;
          align-items: center;
          margin-top: 20px;

          button {
            color: #fec300;

            .likeBtnIcon {
              color: #fec300;
            }

            &:hover {
              background-color: #ffeaa7;
            }
          }
        }
      }
    }

    .productRecommend {
      border-top: 10px solid #eeeeee;
      padding: 30px 20px 0;

      .recommendTitle {
        margin-bottom: 20px;
        width: 600px;
        line-height: 25px;
        font-size: 22px;
        font-weight: bold;
      }
    }
    .gridBox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px 20px;
      padding: 0 20px;

      .recommendProduct {
        position: relative;
        width: 290px;
        height: 390px;

        img {
          width: 290px;
          height: 290px;
        }
        .nameBuyBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 15px 0 5px;
          color: #aaaaaa;

          .recommendName {
            width: 220px;
          }

          .shoppingIcon {
            margin-right: 5px;
            font-size: 20px;
          }
        }

        .recommendPrice {
          font-weight: bold;
        }
      }
    }
  }

  .buyBox {
    position: fixed;
    bottom: 0;
    width: 640px;
    z-index: 12;

    .checkProduct {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      height: 62px;
      background-color: white;
      font-size: 20px;

      select {
        width: 80px;
        height: 36px;
        text-align-last: center;
        border: 1px solid #dddddd;
        border-radius: 3px;
        outline: none;
      }
    }

    .buyBtn {
      display: flex;
      justify-content: space-between;
      height: 62px;
      background-color: rgba(251, 57, 87, 0.9);

      .orderBtn {
        padding: 0;
        margin-left: 235px;
        width: 170px;
        background-color: rgba(251, 57, 87, 0.1);
        color: white;
        font-size: 18px;
        font-weight: bold;
      }

      .basketBtn {
        padding: 0;
        width: 62px;
        background-color: rgba(251, 57, 87, 0.1);
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
